body{font-family:Arial;background:#eee;margin:0}
.navbar{background:black;padding:10px;text-align:center}
.navbar a{color:white;margin:0 10px;text-decoration:none}
.navbar a.active{color:#ffcc00}
.login-box,.contact-box{background:white;padding:20px;width:300px;margin:40px auto;border-radius:8px}
input,textarea,button{width:100%;margin:8px 0;padding:8px}
.card{background:#f9f9f9;padding:10px;margin:10px;border-radius:6px}
