body {
  background: #eaeaea;
  font-family: Arial;
  margin: 0;
}

/* LOGIN & BOX */
.login-box {
  width: 300px;
  background: white;
  padding: 25px;
  margin: 120px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 95%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#msg {
  margin-top: 10px;
  color: red;
}

/* NAVBAR */
.navbar {
  background: black;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

/* CONTENT */
.content {
  text-align: center;
  margin-top: 50px;
}

/* CONTACT */
.contact-box {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 80px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

textarea {
  width: 90%;
  height: 80px;
  margin: 10px 0;
}

/* CARDS */
.card {
  background: #f9f9f9;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .login-box,
  .contact-box {
    width: 90%;
    margin: 50px auto;
  }

  .navbar a {
    display: block;
    margin: 10px 0;
  }
}
